<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979698199508-eg9m819lqe59n1tmtgh2qpqpd4267feq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979698199508-eg9m819lqe59n1tmtgh2qpqpd4267feq</string>
	<key>API_KEY</key>
	<string>AIzaSyAT3zQxYFrYv3H0a0pmo2WWtE-oOK4FZ2I</string>
	<key>GCM_SENDER_ID</key>
	<string>979698199508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vinhack</string>
	<key>PROJECT_ID</key>
	<string>doc-udi-f231c</string>
	<key>STORAGE_BUCKET</key>
	<string>doc-udi-f231c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979698199508:ios:d877975bc19476ba1f4441</string>
</dict>
</plist>